<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <!-- TODO: Burda tıklanan arkadaşı active hale getirmek de lazım -->
        <li class="nav-item">          
          <a class="nav-link" routerLink = "/adminalThings/cars">
            <i class="fa-brands fa-adn"></i> <span class="sidebar-link" > ADMIN ACTIONS </span>             
          </a>
        </li>
        <hr>
        <li class="nav-item">          
          <a class="nav-link" routerLink = "/adminalThings/cars">
            <i class="fa-solid fa-car"></i> <span class="sidebar-link"> Arabalar </span>             
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/adminalThings/brands">
            <i class="fa-brands fa-maxcdn"></i> <span class="sidebar-link"> Markalar </span>  
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/adminalThings/brands">
            <i class="pi pi-users"></i> <span class="sidebar-link"> Kullanıcılar </span> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/adminalThings/colors">
            <i class="fa-solid fa-palette"></i> <span class="sidebar-link"> Renkler </span> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-check"></i>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-check"></i>
            Integrations
          </a>
        </li>
      </ul>

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Log Kayıtları</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <i class="pi pi-check"></i>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-check"></i>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-check"></i>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-check"></i>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="pi pi-check"></i>
            Year-end sale
          </a>
        </li>
      </ul>
    </div>
  </nav>

<div class="dashboard-router-position">
  <router-outlet> </router-outlet>
</div>


