<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar" role="banner">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-11 col-xl-2">
                <h1 class="mb-0 site-logo"><a routerLink="/home" class="text-white mb-0">Rent A Car</a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li class="active"><a routerLink="/home"  routerLinkActive="active" [routerLinkActiveOptions]={exact:true} ><span>Ana Sayfa</span></a></li>
                        <li><a routerLink="/rental/select-date" routerLinkActive="active"><span>Kiralama Yap</span></a></li>
                        <li><a routerLink="/cars" routerLinkActive="active"><span>Müsait Araçlar</span></a></li>
                        <li class="has-children">
                            <a routerLink="/home" routerLinkActive="active"><span>Dropdown</span></a>
                            <ul class="dropdown arrow-top">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                                <li class="has-children">
                                    <a href="#">Dropdown</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                        <li><a href="#">Menu Four</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a routerLink="/home" routerLinkActive="active"><span>İletişim</span></a></li>
                        <li *ngIf="adminLoggedIn" ><a routerLink="/adminalThings" routerLinkActive="active" ><span>Admin</span></a></li>
                        <li> <app-profile-section></app-profile-section> </li>
                    </ul>
                    
                </nav>
                
            </div>   
            

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
                    class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
        </div>
    </div>
</header>


<!-- <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script> -->