.rental-positioner{
    padding-left: 10%;
    padding-top: 7%;
}

.ypt_total_sum{
    background-color: yellowgreen;
    color:black;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
  }
  
  .rent-tab-label{
    font-size: 1.2rem;
    color: green;
  }
  
  .yapilan-secimler-ekrani tr td:nth-child(2n-1){
    background-color: #596275;
    color: white;
    font-weight: bold;
    width: 60%
  }
  
  .yapilan-secimler-ekrani tr td:nth-child(2n){
    background-color: #9AECDB;
    color: black;
    font-weight: 500;
    width:40%
  }