<!-- Renting Tab-->
<p-card>
    <ng-template pTemplate="title">
        Tarih ve Şehir Seçimi Yapınız:
    </ng-template>

    <ng-template pTemplate="content" style="margin-top:0">
        <form [formGroup]="rentalForm" class="form-group">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3" >
                        <label class="rent-tab-label">Kiralama Tarihi</label>
                        <br>
                        <p-calendar [style]="{'width':'77%', 'height':'50%'}" [inputStyle]="{'width':'10%', 'height':'50%'}" formControlName="rentDate" [inline]="true" (onSelect)="onRentDateSelect()"
                        [minDate]="minDateValue"  ></p-calendar>

                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="rent-tab-label">Teslim Tarihi</label>
                        <br>
                        <p-calendar [style]="{'width':'77%'}" [inputStyle]="{'width':'10%'}" formControlName="returnDate" [inline]="true" (onSelect)="onReturnDateSelect()"
                            [minDate]="minDateValue"  ></p-calendar>
                    </div>
                </div>
            </div>

            <div *ngIf="!dateSelectionIsValid"
                    class="alert alert-danger">
                    Tarih seçiminiz geçersiz. Lütfen geçerli tarih girişi yapınız.
            </div>
            
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <p-dropdown [options]="cities" formControlName="rentCity" optionLabel="name" optionValue="id" 
                        (onChange)="onRentCitySelect($event.value)" placeholder="Kiralanacak Şehir" ></p-dropdown>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <p-dropdown [options]="cities" formControlName="returnCity" optionLabel="name" optionValue="id" 
                        (onChange)="onReturnCitySelect($event.value)" placeholder="Teslim Edilecek Şehir"></p-dropdown>
                    </div>
                </div>
            </div>            
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="justify-content-end d-flex">
            <p-button label="Next" [disabled]="!rentalForm.valid || !dateSelectionIsValid" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>
