<!-- Renting Tab-->
<p-card>
    <ng-template pTemplate="title">
        Tarih ve Şehir Seçimi Yapınız:
    </ng-template>

    <ng-template pTemplate="content" style="margin-top:0">
        <form [formGroup]="rentalForm" class="form-group">
            <div class="row">
                <div class="col-6">
                    <div class="p-field p-col-6 p-md-4" >
                        <label class="rent-tab-label" for="icon">Kiralama Tarihi</label>
                        <br>
                        <p-calendar [style]="{'width':'77%', 'height':'50%'}" [inputStyle]="{'width':'10%', 'height':'50%'}" formControlName="rentDate" [inline]="true" (onSelect)="onRentDateSelect()"
                        [minDate]="minDateValue"  ></p-calendar>

                    </div>
                </div>
                <div class="col-6">
                    <div class="p-field p-col-6 p-md-4">
                        <label class="rent-tab-label" for="icon">Teslim Tarihi</label>
                        <br>
                        <p-calendar [style]="{'width':'77%'}" [inputStyle]="{'width':'10%'}" formControlName="returnDate" [inline]="true" (onSelect)="onReturnDateSelect()"
                            [minDate]="minDateValue"  ></p-calendar>
                    </div>
                </div>
            </div>

            <div *ngIf="wrongDateSelection"
                    class="alert alert-danger">
                    Tarih seçiminiz geçersiz. Lütfen geçerli tarih girişi yapınız.
            </div>
            
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label class="rent-tab-label" for="carClasses">Aracı teslim alacağınız şehir</label>
                        <select class="form-control" formControlName="rentedCityId" id="rentedCityId"
                            (change)="onRentCitySelect($event.target.value)">
                            <option *ngFor="let city of cities; let i = index" [value]="city.id">
                                {{city.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label class="rent-tab-label" for="carClasses">Aracı teslim edeceğiniz şehir</label>
                        <select class="form-control" formControlName="returnedCityId" id="returnedCityId"
                            (change)="onReturnCitySelect($event.target.value)">
                            <option *ngFor="let city of cities; let i = index" [value]="city.id">
                                {{city.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>            
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="justify-content-end d-flex">
            <p-button label="Next" [disabled]="!rentalForm.valid" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>
</p-card>
