<ul *ngIf="isLogged" class="navbar-nav">
    <li class="nav-item dropdown no-arrow eng-profile-bar">
      <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
      data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
          <span class="mr-2 d-none d-lg-inline eng-profile-name text-gray-600 small">{{userName}}</span>
          <img class="img-profile rounded-circle"
              src="{{avatarUrl}}">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
          aria-labelledby="userDropdown">
          <a class="dropdown-item" >
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Profile
          </a>
          <a class="dropdown-item" >
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Settings
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
          </a>
      </div>
  </li>
  </ul>
  
  <ul *ngIf="isLogged == false" class="navbar-nav">
      <li> <button class="btn btn-primary" routerLink="/login"> Login</button></li>
  </ul>
