<!-- Renting Tab-->
<p-card>
    <ng-template pTemplate="title">
        Kiralama İşleminiz İçin Oluşan Faturanız:
    </ng-template>

    <ng-template pTemplate="content" style="margin-top:0">
        <div class="receipt-content">
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <div class="col-md-12">
                        <div class="invoice-wrapper">
                            <div class="intro">
                                Hi <strong>{{invoiceListModel.customerMail }}</strong>,
                                <br>
                                This is the receipt for a payment of <strong>₺{{invoiceListModel.totalSum}}</strong> (TRY)
                                for your rental
                            </div>

                            <br>
                            <hr>
    
                            <div class="payment-info">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span>Payment No.</span>
                                        <strong>{{invoiceListModel.invoiceNo }}</strong>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span>Payment Date</span>
                                        <strong>{{invoiceListModel.invoiceDate |date: 'dd.LL.y' }}</strong>
                                    </div>
                                </div>
                            </div>

                            <br> <hr>
                            
    
                            <div class="payment-details">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <span>Client Mail</span>
                                        <strong>
                                            {{invoiceListModel.customerMail }}
                                        </strong>
                                        <p>
                                            989 5th Avenue <br>
                                            City of monterrey <br>
                                            55839 <br>
                                            USA <br>
                                            <a href="#">
                                                {{invoiceListModel.customerMail}}
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span>Payment To</span>
                                        <strong>
                                            MNG Rent A Car
                                        </strong>
                                        <p>
                                            Ayazağa Mah. Azerbaycan Cad. <br>
                                            No:3/B Vadi İstanbul 1B   <br>
                                            Bulvar Ofis K:3, D:5,  <br>
                                            34396 Sarıyer <br>
                                            <a href="#">
                                                mngrentacar@mng.com
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <br> <hr>
    
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Car Brand</th>
                                        <th>Car Model</th>
                                        <th>Model Year</th>
                                        <th>Rented Kilometer</th>
                                        <th>Rented Date</th>
                                        <th>Return Date</th>
                                        <th>Total Day Count</th>
                                        <th>Rent City</th>
                                        <th>Return City</th>
                                        <th>Daily Price</th>
                                        <th>Plate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{invoiceListModel.brand}}</td>
                                        <td>{{invoiceListModel.carModel}}</td>
                                        <td>{{invoiceListModel.modelYear}}</td>
                                        <td>{{invoiceListModel.rentedKilometer}}</td>
                                        <td>{{invoiceListModel.rentedDate |date: 'dd.LL.y'}}</td>
                                        <td>{{invoiceListModel.returnDate |date: 'dd.LL.y'}}</td>
                                        <td>{{invoiceListModel.totalDayCount}}</td>
                                        <td>{{invoiceListModel.rentCity}}</td>
                                        <td>{{invoiceListModel.returnCity}}</td>
                                        <td>{{invoiceListModel.carDailyPrice}}₺</td>
                                        <td>{{invoiceListModel.plate}}₺</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br> <hr>

                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Service Name</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ads of invoiceListModel.additionalServices">
                                        <td>{{ads.serviceName}}</td>
                                        <td>{{ads.price}}₺</td>
                                    </tr>
                                </tbody>

                            </table>
    
    
    
                        </div>
    
                        <div class="footer">
                            Copyright © 2022. MNG Rent A Car
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-card>
